
{% extends  'base_catalog.html' %}
{% load catalog_filters %}
{% load catalog_tags %}
{% block content %}
<style>
    .item{
    background: plum;
    width: 21%;
    float: left;
    padding: 1%;
    margin: 1%;
    }
   .item input.amount{
   width: 45%;
   }
   .sort_column{
   width: 15%;
   float: left;
   }
   .sort_column input{
   width: 45%;
   }
   .items{
   float: left;
   width: 85%;
   }
   .content{
   float: right;
   width: 100%;
   }

</style>
<div class="content">
    <div class="sort_column">
        <form><!--<form action="{% url 'item_list' %}" method="GET">-->
            {{ item_sort_form.as_p }}
            {{ item_filter_form.as_p }}
            <input type="submit" value="Sort">
        </form>
    </div>

    <div class="items">
        {% for item in items %}
            <div class="item">
                <a href="{% url 'item_detail' pk=item.pk %}">
                <p>Name: {{ item.name }}</p>
                <p>Price: {{ item.price }}</p>
                <!--<p>Count: {{ item.count }}</p>-->
                <p>Presence: {{ item | in_stock:"In Stock|Out of stock" }}</p>
                </a>
                {% add_to_cart_form item %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
